*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: "Courier New", Courier, monospace;
  color: #364f6b;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

/* nav ul li a:hover {
  text-decoration: line-through;
} */

nav ul li a:hover {
  background: linear-gradient(yellow, rgb(12, 255, 12));
  padding: 11px;
  border-radius: 13px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
